<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>CFBundleExecutable</key>
	<string>cocoAspell</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSExecutable</key>
			<string>cocoAspell</string>
			<key>NSLanguages</key>
			<array/>
			<key>NSPortName</key>
			<string>cocoAspell</string>
			<key>NSSpellChecker</key>
			<string>Aspell</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>net.leuski.cocoAspell.Service</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Aspl</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
