<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CheckForService</key>
	<true/>
	<key>Languages</key>
	<dict/>
	<key>email-margin</key>
	<integer>10</integer>
	<key>email-quote</key>
	<array>
		<string>&gt;</string>
		<string>|</string>
	</array>
	<key>tex-check-comments</key>
	<false/>
	<key>tex-command</key>
	<array>
		<dict>
			<key>command</key>
			<string>addcontentsline</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>addtocontents</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>addtocounter</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>addtolength</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>addtolength</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>addvspace</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>alpha</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>arabic</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>begin</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>bibitem</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>cite</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>documentclass</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>documentstyle</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>end</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>enlargethispage</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>fnsymbol</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>fontencoding</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>fontfamily</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>fontseries</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>fontshape</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>fontsize</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>framebox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>geometry</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>hspace</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>hyphenation</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>include</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>includegraphics</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>includeonly</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>input</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>label</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>makebox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>newcommand</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>newcounter</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>newenvironment</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>newfont</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>newtheorem</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>nocite</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>pagenumbering</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>pageref</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>pagestyle</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>parbox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>psfig</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>raisebox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>ref</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>refstepcounter</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>renewcommand</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>renewenvironment</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>roman</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>rule</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>savebox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>sbox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<true/>
					<key>optional</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>selectlanguage</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>setcounter</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>setlength</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>settodepth</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>settoheight</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>settowidth</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>stepcounter</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>usebox</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>usecounter</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>usefont</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>usepackage</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<true/>
				</dict>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>value</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<string>vspace</string>
			<key>parameters</key>
			<array>
				<dict>
					<key>check</key>
					<false/>
					<key>optional</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
