<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>cocoAspell</string>
	<key>CFBundleIdentifier</key>
	<string>net.leuski.cocoAspell.Service</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Aspl</string>
	<key>CFBundleVersion</key>
	<string>2.0.4</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>cocoAspell</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSExecutable</key>
			<string>cocoAspell</string>
			<key>NSLanguages</key>
			<array/>
			<key>NSPortName</key>
			<string>cocoAspell</string>
			<key>NSSpellChecker</key>
			<string>Aspell</string>
		</dict>
	</array>
</dict>
</plist>
